@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #A79F9A;
    color: #F8E9E9;
    font-family: 'Instrument Serif', serif;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3rem;
    background-color: #F8E9E9;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.25rem; 
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
    font-family: 'Instrument Serif', serif;
}

nav ul li a:hover {
    color: #FF5733;
    text-decoration: underline;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 10%;
    flex-direction: column;
    background-color: #A79F9A;
    height: 80vh; 
    align-items: flex-start;
    outline: 0.125rem solid #ffffff; 
    font-family: 'Instrument Serif', serif;
}

.blog-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    font-family: 'Instrument Serif', serif;
}   

/* Add Blog Button */
.add-blog-button {
    background-color: #FF9292;
    color: #FFFFFF;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.3125rem; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); 
    font-family: 'Instrument Serif', serif;
}

.add-blog-button:hover {
    background-color: #C70039;
    transform: scale(1.05);
}

.add-blog-button:active {
    background-color: #900C3F;
    transform: scale(0.95);
}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
    color: #F8E9E9;
    text-shadow: 0.125rem 0.125rem 0.25rem #000000; 
    font-family: 'Instrument Serif', serif;
}

footer {
    background-color: #F8E9E9;
    color: #000000;
    padding: 0;
    text-align: left;
    line-height: 1;
    font-family: 'Instrument Serif', serif;
}
